<h2><center>Status Report</center></h2>
<h3>Projects Assigned: <%= @projects.count %></h3>
<hr>
<table border=1 style="width:100%;">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Hours required</th>
    <th>Estimated Cost</th>
    <th>Status</th>
    <th>Starting Date</th>
    <th>Ending Date</th>
  </tr>
  <% @projects.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.description %></td>
      <td><%= t.hours %></td>
      <td><%= t.cost %></td>
      <td><%= t.status %></td>
      <td><%= t.starting_date %></td>
      <td><%= t.ending_date %></td>
    </tr>
  <% end %>
</table>

  <br>
PDF Generation Date: <%= Time.zone.now %>