<div class="card">
  <div class="card-body">
  
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span>Assigning Task: <%= @task.name %></span>
    </h2>

    <div class="card mb-3">
      <div class="card-body">
        <div class='d-flex '>
          <span class="badge badge-primary mb-3">Status: <%= @task.status %></span> | 
          <span class="badge badge-primary mb-3">Hours: <%= @task.hours %></span>
        </div>
        <div>
          <h5 class="card-title mb-2">
            <span><b>Name:</b> <%= @task.name %></span>
            <p><b>Description:</b> <%= @task.description %></p>
            <%= form_with(model: [@task.project, @task])  do |t| %>
              <div class="form-group">
                <%= t.label :SelectUser %><br />
                <%= t.collection_select(:user_id, User.where(admin: false), :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
              </div>
              <div class="actions">
                <%= t.submit class: 'btn btn-primary mt-2' %>
              </div>
            <%end%>
          </h5>
        </div>
      </div>
    </div>

  </div>
</div>
