<div class='card-body'>
  <h4>All Employees</h4> <br>
  <% if @user.count == 0 %>
    <div class="card">
      <center><i>No employees available yet!</i></center>
    </div>
  <% else %>
    <table style="width:100%;">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Designation</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @user.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.designation %></td>
          <td><%= link_to 'Show', users_index_path, class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', users_index_path, class: 'btn btn-secondary' %></td>
          <td><%= link_to 'Destroy', users_index_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>