<div class="card col-6">
  <div class="card-body">
    <div class='row'>
      <h2 class='card-title mb-4 col-7'>
        <span>Editing Profile</span>
      </h2>
      <button type="button" class="btn btn-dark col-3 my-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Change Password </button>
    </div>

    <%= render 'form', user: @user %>
  </div>
</div>


<!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Change Your Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with(model: current_user) do |user| %>

            <div class="form-group">
              <%= user.label :password, "New password" %>
              <%= user.password_field :password, required: true, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= user.label :password_confirmation, "Confirm new password" %>
              <%= user.password_field :password_confirmation, required: true, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="add">
              <%= user.submit 'Update Password', class:'btn btn-warning mt-1'%>
            </div>
          <% end %>
        </div>
        <div class="modal-footer mt-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>