
<table style="width:100%;" class="table bg-white">
  <thead class="table-dark">
    <th>Name</th>
    <th>Description</th>
    <th>Hours</th>
    <th>Hours Worked</th>
    <th>Status</th>
    <th>Starting Date</th>
    <th>Ending Date</th>
    <th>View Logs</th>
  </thead>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.hours %></td>
      <td><%= task.hours_worked %></td>
      <td><%= task.status %></td>
      <td><%= task.starting_date %></td>
      <td><%= task.ending_date %></td>
      <td><%= link_to 'Logs', logs_project_task_path(project_id: task.project_id, id: task.id), class: 'btn btn-success' %></td>
    </tr>
  <% end %>
</table>