<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cost %>
    <%= form.text_field :cost, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :hours %>
    <%= form.text_field :hours, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Starting Date" %>
    <%= form.date_field :starting_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Ending Date" %>
    <%= form.date_field :ending_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Select Employee" %><br />
    <%= form.collection_select(:emp, User.where(admin: false), :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
  </div>
  
  <div class="actions">
    <%= form.submit class: 'mt-2 btn btn-warning' %>
  </div>
<% end %>
