<% if @projects.count == 0 %>
    <div class="card">
      <center><i>No projects available here!</i></center>
    </div>
  <% else %>
    <% @projects.each do |project| %>
      <%= link_to project, class: "text-decoration-none" do %>
        <div class="card project-card mb-3">
          <div class="card-body">
            <h5 class='card-title text-dark'><b><%= project.name %></b></h5>
            <p><%= project.description %></p>
            <span class="badge badge-primary">Time: <%= project.hours %> hours</span> |
            <span class="badge badge-primary">Cost: <%= project.cost %> k</span> |
            <span class="badge badge-primary">Status: <%= project.status %> </span>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate @projects, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>

  <% end %>