<div class='card-body'>
  <h3>Projects Created By You</h3>
  <% @projects.each do |project| %>
    <%= link_to project, class: "text-decoration-none" do %>
      <div class="card project-card mb-3">
        <div class="card-body">
          <span class="badge badge-primary mb-3">Time: <%= project.hours %> hours</span> |
          <span class="badge badge-primary mb-3">Cost: <%= project.cost %> k</span> |
          <span class="badge badge-primary mb-3">Status: <%= project.status %> </span>
          <h5 class='card-title text-dark'><b><%= project.name %></b></h5>
          <p><%= project.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
