<div class="card">
  <center class="mt-3"><h6><b>View Project</b></h6></center> <hr>
  <div class="card-body">
    <h4 class='card-title d-flex justify-content-between mb-4'>
      <span><b>Name: </b><%= @project.name %></span>
      <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"> Create Task </button>
        <%# <%= link_to "Create Task", new_project_task_path(@task.project, @task), class: "btn btn-warning" %>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Edit Project </button>
        <%# <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-secondary" %> 
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdropR"> View Summary </button>
        <%= link_to "Delete", @project, method: :delete, class: "btn btn-dark", data: { confirm: "Are you sure?" } %>
      </div>
    </h4>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Editing Project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="width:100%">
            <%= render "form", project: @project %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdropR" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Track <b><%= @project.name %></b> by hours</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= line_chart  [{name:'Hours Worked', data: @project.tasks.group(:hours_worked).count}, {name: 'Hours Required', data: @project.tasks.group(:hours).count}], xtitle: "Hours", ytitle: "Count" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table>
          <tr>
            <td><b>Description: </b></td>
            <td><%= @project.description %></td>
          </tr>
          <tr>
            <td><b>Hours required: </b></td>
            <td><%= @project.hours %></td>
          </tr>
          <tr>
            <td><b>Estimated Cost: </b></td>
            <td><%= @project.cost %></td>
          </tr>
          <tr>
            <td><b>Tasks created: </b></td>
            <td><%= @project.tasks.count %></td>
          </tr>
          <tr>
            <td><b>Manager: </b></td>
            <td><%= User.find(@project.user_id).name %></td>
          </tr>
          <tr>
            <td><b>Status: </b></td>
            <td><%= @project.status %></td>
          </tr>
          <tr>
            <td><b>Starting Date: </b></td>
            <td><%= @project.starting_date %></td>
          </tr>
          <tr>
            <td><b>Ending Date: </b></td>
            <td><%= @project.ending_date %></td>
          </tr>
          <tr>
            <td><b>Employees: </b></td>
            <% if @project.users.any? %>
              <% @project.users.each do |u| %>
                <td><%= u.name %>,</td>
              <% end %>
            <% else %>
              <td>N/A</td>
            <%end%>
          </tr>
          <tr>
            <td><b>Delivery: </b></td>
            <td><%= Project.delivery(@project) %></td>
          </tr>
        </table>
      </div>
      <div class="col">
        <%= line_chart @project.tasks.group(:starting_date).count, xtitle: "Starting Date", ytitle: "Count" %>
      </div>
    </div>

     <br> <hr> <br>

    <h5>Tasks related to the project: <b><%= @project.name %></b></h5> <br>
    <%= render "shared/search", url: project_path(@project) %>
    <% if @project.tasks.count == 0 %>
      <div class="card-body">
        <center><i>No tasks created yet!</i></center>
      </div>
    <% else %>
      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Assigned to</th>
          <th>Hour required</th>
          <th>Hours worked</th>
          <th>Starting Date</th>
          <th>Ending Date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <% @project.tasks.each do |task| %>
          <% if task.persisted? %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.status %></td>
            <td><%= if task.user_id?
                      User.find(task.user_id).name
                    else
                      "N/A"
                    end %></td>
            <td><%= task.hours %></td>
            <td><%= task.hours_worked %></td>
            <td><%= task.starting_date %></td>
            <td><%= task.ending_date %></td>
            <td><%= link_to "Show", project_task_path(@project, task), class: "btn btn-primary btn-sm" %></td>
            <td><%= link_to "Edit", edit_project_task_path(task.project, task), class: "btn btn-secondary" %></td>
            <td><%= link_to "Delete", [task.project, task], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-dark" %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Create New Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "tasks/form", project: @project, task: @task %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="mt-3">
</div>