<div class="card">
  <center class="mt-3"><h6><b>View Project</b></h6></center> <hr>
  <div class="card-body">
    <h4 class='card-title d-flex justify-content-between mb-4'>
      <span><b>Name: </b><%= @project.name %></span>
      <div>
        <%= link_to "Create Task", new_project_task_path(@task.project, @task), class: "btn btn-warning" %>
        <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-secondary" %>
        <%= link_to "Destroy", @project, method: :delete, class: "btn btn-dark", data: { confirm: "Are you sure?" } %>
      </div>
    </h4>

    <table>
      <tr>
        <td><b>Description: </b></td>
        <td><%= @project.description %></td>
      </tr>
      <tr>
        <td><b>Hours required: </b></td>
        <td><%= @project.hours %></td>
      </tr>
      <tr>
        <td><b>Tasks created: </b></td>
        <td><%= @project.tasks.count %></td>
      </tr>
      <tr>
        <td><b>Manager: </b></td>
        <td><%= User.find(@project.user_id).name %></td>
      </tr>
      <tr>
        <td><b>Status: </b></td>
        <td><%= @project.status %></td>
      </tr>
    </table> <br> <hr> <br>

    <h5>Tasks related to the project: <b><%= @project.name %></b></h5> <br>
    <% if @project.tasks.count == 0 %>
      <div class="card-body">
        <center><i>No tasks created yet!</i></center>
      </div>
    <% else %>
      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Assigned to</th>
          <th>Hour required</th>
          <th>Hours worked</th>
          <th></th>
        </tr>
        <% @project.tasks.each do |task| %>
          <% if task.persisted? %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.status %></td>
            <td><%= if task.user_id?
                      User.find(task.user_id).name
                    else
                      "N/A"
                    end %></td>
            <td><%= task.hours %></td>
            <td><%= task.hours_worked %></td>
            <td><%= link_to "Edit", edit_project_task_path(task.project, task), class: "btn btn-secondary" %>
            <%= link_to "Destroy", [task.project, task], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-dark" %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>

  </div>
</div>
