<% if current_user %>
  <% if current_user.admin == true %>   
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Dashboard", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Projects", all_projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Project", new_project_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "View Employees", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Employees", new_user_path, class: "nav-link" %>
        </li>
        <% if current_user.id == 1 %>
          <li class="nav-item">
          <%= link_to "View Admins", admins_users_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Edit Your Profile", profile_user_path(current_user), class: "nav-link" %>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Dashboard", employees_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Completed Tasks", complete_employees_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "View All Tasks", tasks_employees_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "View Active Projects", active_projects_employees_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "View Completed Projects", completed_projects_employees_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "View All Projects", projects_employees_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Download General Status Report', pdf_employees_path(current_user, format: :pdf), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Edit Your Profile", profile_user_path(current_user), class: "nav-link" %>
        </li>
      </ul>
    </div>
  <% end %>
<%end%>