<% if current_user %>
  <% if current_user.admin == true %>   
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Dashboard", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Projects", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Project", new_project_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "View Users", users_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New User", users_new_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Dashboard", employees_index_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Download Status Report', employees_index_path(current_user, format: :pdf), class: 'nav-link' %>
        </li>
      </ul>
    </div>
  <% end %>
<%end%>